extends layout

block content
    section#main-container(ng-app='secretApp', ng-controller='alerter')
        .row
            header.panel.twelve.columns.header
                h1 Secret Sizzle Alerter
        .container
            .row
                .twelve.columns.panel(ng-repeat='(key, value) in alerts') {{ key }}: {{value.status}}
